# Copyright 2019-2025 Chris Croome
#
# This file is part of the Webarchitects PHP Ansible role.
#
# The Webarchitects PHP Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects PHP Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects PHP Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: PHP configuration file section config absent
  block:

    - name: Debug php_conf_section.key
      ansible.builtin.debug:
        var: php_conf_section.key
        # verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      tags:
        - debug

    - name: Debug php_conf_section.value
      ansible.builtin.debug:
        var: php_conf_section.value
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      tags:
        - debug

    - name: Debug php_conf_section.value | ansible.builtin.dict2items
      ansible.builtin.debug:
        var: php_conf_section.value
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      tags:
        - debug

    - name: Debug php_conf_section.value | ansible.builtin.type_debug
      ansible.builtin.debug:
        msg: "{{ php_conf_section.value | ansible.builtin.type_debug }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      tags:
        - debug

    - name: Debug the absent PHP configuration file variables
      ansible.builtin.debug:
        msg:
          - "File: {{ php_conf_file }}"
          - "Line commented: ; {{ php_conf_pair.key }} = {{ php_conf_pair.value }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      when: php_conf_pair.value != php_conf_file_existing_vars | community.general.json_query(php_conf_variable_json_query)
      vars:
        php_conf_variable_json_query: '"{{ php_conf_section.key }}"."{{ php_conf_pair.key }}"'
      loop: "{{ php_conf_section.value | ansible.builtin.dict2items }}"
      loop_control:
        loop_var: php_conf_pair
        label: "{{ php_conf_pair.key }}"
      tags:
        - debug

    - name: "Slurp {{ php_conf_file }}"
      ansible.builtin.slurp:
        src: "{{ php_conf_file }}"
      register: php_conf_file_b64encoded

    - name: "Decode the base64 encoded version of {{ php_conf_file }}"
      ansible.builtin.set_fact:
        php_conf_file_contents: "{{ php_conf_file_b64encoded['content'] | ansible.builtin.b64decode | community.general.jc('ini') }}"

    - name: Debug php_conf_file_contents
      ansible.builtin.debug:
        var: php_conf_file_contents
        # verbosity: "{% if ansible_check_mode | bool %}0{% else %}1{% endif %}"
      tags:
        - debug

    - name: "Decode the base64 encoded version of {{ php_conf_file }}"
      ansible.builtin.set_fact:
        php_conf_file_contents_section: "{{ php_conf_file_contents | ansible.builtin.json_query(php_conf_section_jpq) }}"
      vars:
        php_conf_section_jpq: '["{{ php_conf_section.key }}"]|[0]'

    - name: Debug php_conf_file_contents_section
      ansible.builtin.debug:
        var: php_conf_file_contents_section
        # verbosity: "{% if ansible_check_mode | bool %}0{% else %}1{% endif %}"
      tags:
        - debug

    - name: Debug PHP configuration variable absent tasks
      ansible.builtin.debug:
        msg:
          - "php_conf_section.key: {{ php_conf_section.key }}"
          - "php_conf_pair.key: {{ php_conf_pair.key }}"
          - "php_conf_pair.value: {{ php_conf_pair.value }}"
          - "php_conf_file_variable_match: {{ php_conf_file_variable_match }}"
          - 'php_conf_file_contents_section | json_query(php_conf_file_variable_match): {{ php_conf_file_contents_section | json_query(php_conf_file_variable_match) }}'
          - 'php_conf_file_contents_section | json_query(php_conf_file_variable_match) | type_debug: {{ php_conf_file_contents_section | ansible.builtin.json_query(php_conf_file_variable_match) | ansible.builtin.type_debug }}'
        verbosity: "{% if ansible_check_mode | bool %}0{% else %}1{% endif %}"
      vars:
        php_conf_file_variable_match: '["{{ php_conf_pair.key }}"]|[0]'
      loop: "{{ php_conf_section.value | ansible.builtin.dict2items }}"
      loop_control:
        loop_var: php_conf_pair
        label: "{{ php_conf_pair.key }}"

    - name: Include PHP configuration variable absent tasks
      vars:
        php_conf_file_variable_match: '["{{ php_conf_pair.key }}"]|[0]'
      ansible.builtin.include_tasks: file_line_absent.yml
      when:
        - php_conf_file_contents_section | json_query(php_conf_file_variable_match) | ansible.builtin.type_debug != "NoneType"
      loop: "{{ php_conf_section.value | ansible.builtin.dict2items }}"
      loop_control:
        loop_var: php_conf_pair
        label: "{{ php_conf_pair.key }}"

  tags:
    - php
    - php_cfg
    - php_conf
...
