# Copyright 2019-2026 Chris Croome
#
# This file is part of the Webarchitects PHP Ansible role.
#
# The Webarchitects PHP Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects PHP Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects PHP Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: PHP-FPM systemd tasks
  block:

    - name: "Stat /usr/sbin/php-fpm{{ php_fpm_version }}"
      ansible.builtin.stat:
        path: "/usr/sbin/php-fpm{{ php_fpm_version }}"
      register: php_fpm_binary

    - name: "Check the PHP-FPM configuration for {{ php_fpm_version }}"
      ansible.builtin.command: "/usr/sbin/php-fpm{{ php_fpm_version }} --test"
      check_mode: false
      changed_when: false
      register: php_fpm_test
      failed_when: ("test is successful" not in php_fpm_test.stderr_lines[-1])
      when: php_fpm_binary.stat.exists | bool

    - name: "Additional standard error lines from the PHP-FPM config test for {{ php_fpm_version }}"
      ansible.builtin.debug:
        var: php_fpm_test.stderr_lines[-1]
      when: php_fpm_test.stderr_lines | length > 1)

    - name: "Stat {{ php_systemd_service_symlink_path }}"
      ansible.builtin.stat:
        path: "{{ php_systemd_service_symlink_path }}"
      vars:
        php_systemd_service_symlink_path: "/lib/systemd/system/php{{ php_fpm_version }}-fpm.service"
      register: php_fpm_system_service

    - name: Enable PHP-FPM systemd seervice
      block:

        - name: "Symlink present for PHP-FPM service for {{ php_fpm_version }}"
          ansible.builtin.file:
            state: link
            src: "/lib/systemd/system/php{{ php_fpm_version }}-fpm.service"
            dest: "/etc/systemd/system/multi-user.target.wants/php{{ php_fpm_version }}-fpm.service"
            follow: false
            mode: "0777"
            owner: root
            group: root
          register: php_fpm_service_symlink

        - name: "Ensure that PHP-FPM service is enabled and started for {{ php_fpm_version }}"
          ansible.builtin.systemd_service:
            name: "php{{ php_fpm_version }}-fpm.service"
            enabled: true
            state: started
          register: php_fpm_service

        - name: Debug php_fpm_service
          ansible.builtin.debug:
            var: php_fpm_service
            verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
          tags:
            - debug

        - name: Reload systemd  # noqa: no-changed-when
          ansible.builtin.systemd:
            daemon_reload: true
          when: >-
            ( php_fpm_service_symlink.changed | bool ) or
            ( php_fpm_service.changed | bool )

        - name: Check that PHP FPM is running
          ansible.builtin.service_facts:
          register: php_service_facts
          until: php_service_facts | community.general.json_query(php_service_jpq) == "running"
          retries: 20
          delay: 1
          vars:
            php_service_jpq: 'ansible_facts.services.["php{{ php_fpm_version }}-fpm.service"]|[0].state'

      when:
        - php_fpm_system_service.stat.exists is defined
        - php_fpm_system_service.stat.exists | bool

  tags:
    - php
    - php_pkg
...
