# Copyright 2019-2026 Chris Croome
#
# This file is part of the Webarchitects PHP Ansible role.
#
# The Webarchitects PHP Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects PHP Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects PHP Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Verify PHP variables
  block:

    # - name: Debug php_conf_file_contents_section
    #   ansible.builtin.debug:
    #     var: php_conf_file_contents_section
    #     # verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
    #   when: php_conf_file_contents_section is defined
    #   tags:
    #     - debug

    - name: Debug phpvarnames
      ansible.builtin.debug:
        var: phpvarnames
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug phphostvars
      ansible.builtin.debug:
        var: phphostvars
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/argument_specs.yml
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/argument_specs.yml', errors='strict') }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/argument_specs.yml type
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/argument_specs.yml', errors='strict') | ansible.builtin.type_debug }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/internal_argument_specs.yml
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/internal_argument_specs.yml', errors='strict') }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Debug lookup meta/internal_argument_specs.yml type
      ansible.builtin.debug:
        msg: "{{ lookup('ansible.builtin.file', 'meta/internal_argument_specs.yml', errors='strict') | ansible.builtin.type_debug }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Set a fact for the argument spec and internal argument spec
      ansible.builtin.set_fact:
        php_argument_spec: "{{ php_argument_spec_lookup | ansible.builtin.from_yaml }}"
        php_internal_argument_spec: "{{ php_internal_argument_spec_lookup | ansible.builtin.from_yaml }}"
      vars:
        php_argument_spec_lookup: "{{ lookup('ansible.builtin.file', 'meta/argument_specs.yml', errors='strict') }}"
        php_internal_argument_spec_lookup: "{{ lookup('ansible.builtin.file', 'meta/internal_argument_specs.yml', errors='strict') }}"

    - name: Set a fact for the combined argument spec and internal argument spec
      ansible.builtin.set_fact:
        php_combined_argument_spec: "{{ php_argument_spec | ansible.builtin.combine(php_internal_argument_spec, recursive=true) }}"

    - name: Check php_ variables using the combined argument spec
      ansible.builtin.validate_argument_spec:
        argument_spec: "{{ php_combined_argument_spec['argument_specs']['main']['options'] }}"
        provided_arguments: "{{ phphostvars }}"

  when:
    - php_verify is defined
    - php_verify | bool
  tags:
    - php
    - php_verify
...
