# {{ ansible_managed }}

Types: deb
URIs: https://packages.sury.org/php/
Suites: {{ ansible_distribution_release }}
Architectures: {{ ansible_facts.ansible_local.dpkg_arch.arch }}
Components: main
Signed-By: {{ /etc/apt/keyrings/php.gpg }}

# vim: ft=debsources
