; {{ ansible_managed }}
{% if php_conf_file_comments is defined %}
{%     if php_conf_file_comments | ansible.builtin.type_debug == "list" %}
{%         if php_conf_file_comments != [] %}
{%             for php_conf_file_comment in php_conf_file_comments %}
; {{ php_conf_file_comment }}
{%             endfor %}
{%         endif %}
{%     endif %}
{% endif %}
{% if php_conf_file_proposed_sections | bool %}
{%     for php_section in php_conf_file_proposed_vars | dict2items %}
[{{ php_section.key }}]
{%         for php_variable_pair in php_section.value | dict2items %}
{%             if php_conf_file_no_extra_spaces | bool %}
{{ php_variable_pair.key }}={{ php_variable_pair.value }}
{%             else %}
{{ php_variable_pair.key }} = {{ php_variable_pair.value }}
{%             endif %}
{%         endfor %}
{%     endfor %}
{% else %}
{%     for php_conf_pair in php_conf_file_proposed_vars | ansible.builtin.dict2items %}
{%         if php_conf_file_no_extra_spaces | bool %}
{{ php_conf_pair.key }}={{ php_conf_pair.value }}
{%         else %}
{{ php_conf_pair.key }} = {{ php_conf_pair.value }}
{%         endif %}
{%     endfor %}
{% endif %}
; vim: syntax=dosini{# vim: syntax=jinja2 #}
