# {{ ansible_managed }}

{% if ansible_facts.distribution_release == "bookworm" %}
{%     for pkg in php_debian_bookworm_pkg %}
Package: {{ pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "bullseye" %}
{%     for pkg in php_debian_bullseye_pkg %}
Package: {{ pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "buster" %}
{%     for pkg in php_debian_buster_pkg %}
Package: {{ pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "trixie" %}
{%     for pkg in php_debian_trixie_pkg %}
Package: {{ pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "forky" %}
{%     for pkg in php_debian_forky_pkg %}
Package: {{ pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% endif %}
# vim: ft=debsources{# vim: syntax=jinja2 #}
