# {{ ansible_managed }}

{% if ansible_facts.distribution_release == "bookworm" %}
{%     for php_pkg in php_pkg_bookworm %}
Package: {{ pkg_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "bullseye" %}
{%     for pkg_pkg in php_pkg_bullseye %}
Package: {{ pkg_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "trixie" %}
{%     for php_pkg in php_pkg_trixie %}
Package: {{ pkg_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "forky" %}
{%     for pkg_pkg in php_pkg_forky %}
Package: {{ pkg_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "jammy" %}
{%     for php_pkg in php_pkg_jammy %}
Package: {{ php_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "noble" %}
{%     for php_pkg in php_pkg_noble %}
Package: {{ php_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% elif ansible_facts.distribution_release == "resolute" %}
{%     for php_pkg in php_pkg_resolute %}
Package: {{ php_pkg }}
Pin: origin packages.sury.org
Pin-Priority: 500

{%     endfor %}
{% endif %}
# vim: ft=debsources{# vim: syntax=jinja2 #}
