#!/usr/bin/env bash
# {{ ansible_managed }}

set -euo pipefail
PHPQUERY="{{ php_phpquery }}"

if [[ -f "${PHPQUERY}" ]]; then
  VERSIONS=$("${PHPQUERY}" -V | sort -V)
  jo state=present versions=$( 
    jo $( 
      for v in ${VERSIONS}; do
        SAPI=$("${PHPQUERY}" -v ${v} -S | sort) 
        echo ${v}=$(
          jo state=present $(
            for s in ${SAPI}; do 
              MODULES=$("${PHPQUERY}" -v ${v} -s ${s} -M | sort)
              MODULES_ENABLED=""
              MODULES_DISABLED=""
              for m in ${MODULES}; do
                MOD_STATUS=$("${PHPQUERY}" -v ${v} -s ${s} -m ${mod}) 
                if [[ ${?} == 0 ]]; then
                  MODULES_ENABLED="${MODULES_ENABLED} ${mod}"
                elif [[ ${?} == 32 ]]; then
                  MODULES_DISABLED="${MODULES_DISABLED} ${mod}"
                fi
              done
              echo sapis[${s}]=$(
                jo state=present modules_available=$(
                  jo -a ${MODULES}
                ) modules_enabled=$(
                  jo -a ${MODULES_ENABLED}
                ) modules_disabled=$(
                  jo -a ${MODULES_DISABLED})
              )
            done
          )
        )
      done
    )
  )
else
  jo state=absent
fi
